BODY{
COLOR:WHITE;
BAckground:black;
margin: 0px;
font-family: "Bungee Tint", sans-serif;
}

header{
    border-bottom:solid 2px #f00;
padding:20px;
font-size: 32px;
color:#f00
}

section{
    background:#f00;
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content: center;
}

div{
    margin-right: 5%;
}

h1{ 
    font-size: 30px;
}

p {
 font-size: 28px;
}

